* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

$redcolor: #FF013D;


header {
    padding: 25px 80px 45px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #11162b;
    position: relative;
}

header::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: #1E2441;
}



.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
}

.nav-list li {

    a {
        display: inline-block;
        color: grey;
        margin-left: 52px;
        font-size: 18px;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
    }

    a::after {
        content: '';
        color: #0ee5b8;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: currentColor;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;
    }

    a:hover::after {
        color: #0ee5b8;
        transform: scaleX(1);
        transform-origin: left;
    }

}


/*Intro*/
.intro {
    width: 100%;
    padding: 100px 0px;
    background-color: #11162b;
}

.intro-text-main {
    display: flex;
    align-items: center;
    justify-content: center;
}


.intro-text h1 {
    color: #0ee5b8;
    font-size: 40px;
    line-height: 55px;
}

.intro-text h2 span {
    color: #559fc0;
}

.card-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.intro-card {
    height: 200px;
    width: 245px;
    padding: 20px 35px;
    background-color: #2e365a;
    position: relative;
    overflow: hidden;
    margin: 15px;
    margin-left: 100px;
}

.intro-card2{
    height: 230px;
    width: 245px;
    padding: 20px 35px;
    background-color: #2e365a;
    position: relative;
    overflow: hidden;
    margin: 15px;
    margin-left: 240px;

}

.intro-card h5 {
    color: #DE8AF3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    font-size: 17px;
    margin-bottom: 15px;
}

.intro-card2 h5{
    color: #DE8AF3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    font-size: 17px;
    margin-bottom: 15px;
}

h5 .i{
    color: white;
    padding-left: 6px;
}

.intro-card .parag {
    color: grey;
    line-height: 25px;
    margin-bottom: -10px;
    padding-left: 15px;
} 

.intro-card2 .parag {
    color: grey;
    line-height: 25px;
    margin-bottom: -10px;
    padding-left: 15px;
} 


/*About me*/
.about-me {
    width: 100%;
    padding: 100px 0px;
    background-color: #11162b;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: #0ee5b8;
}


.about-me-text {
    width: 660px;
}

.about-me-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me-text {
    h1 {
        font-size: 55px;
        color: #0ee5b8;
    }

    h2 {
        font-size: 25px;
        color: #559fc0;
    }

    p {
        font-size: 16px;
        color: $redcolor;
        letter-spacing: 1px;
        line-height: 30px;
    }
}

/*Github*/
.github-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11162b;
    height: 40rem;
    position: relative;
}

.github-section::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: #0ee5b8;
}


.github-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.github-form {
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255,255,255,.4);
    border-top: 1px solid rgba(255,255,255,.4);
    box-shadow: 0 8px 20px ;
    margin-left: 40px;
}


.github-form{
    h1{
        font-size: 35px;
        text-align: center;
        color: white;
        margin-top: -20px;
        margin-bottom: 20px; 
    }
    label {
        font-size: 18px;
        color: white;
        margin-left: 10%;
        opacity: .7;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    }
}

.github-form input {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.github-form button {
    width: 80%;
    margin-left: 9%;
    border-radius: 15px;
    padding: 15px 20px;
    color: white;
    background-color: #2DA44E;
    border: #2DA44E;
    cursor: pointer;

}


/*Hobby*/

.hobby-section {
    background: #11162b;
    width: 100%;
    padding: 60px 0px;
}

.title h2 {
    color: #0ee5b8;
    font-size: 55px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    
}

.card {
    height: 350px;
    width: 235px;
    padding: 20px 35px;
    background-color: #2e365a;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 15px;
}

.card i {
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    color: #DE8AF3;

}

.card h5 {
    color: #559fc0;
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
    font-size: 22px;
    margin-bottom: 15px;
}

.parag {
    color: grey;
    line-height: 25px;
    margin-bottom: 25px;
} 



/*Footer*/
footer {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #12152B;
    position: relative;
  }

  footer::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #1E2441;
}

  
  footer .container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    position: relative;
    width: 60%;
  }

  footer .container::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #1E2441;
  }
  
  
  footer a {
    font-size: 13px;
    color: grey;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-left: 20px;
    
  }
  
  footer a:hover {
    color: white;
  }

  footer p{
    display: flex;
    font-size: 13px;
    margin-bottom: 8px;
    color: gray;
  }
  
  
  