*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


header{
    padding: 25px 80px 45px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    background-color: #262626;
}

.nav-list{
    list-style: none;
}

.nav-list li{
    display: inline-block;
}

 .nav-list li a{
    display: inline-block;
    color: #eee;
    margin-left: 52px;
    font-size: 25px;
    font-weight: 900;
    text-decoration:none;
}

.nav-list li a:hover{
    color: #ff1a1a;
    transition: .3s;
}

/*Intro*/
.intro{
    width: 100%;
    padding: 100px 0px;
    background-color: whitesmoke;
}

.intro-text-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.intro-text-main img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 5px solid yellow;
}

.intro-text h1{
    color:#00011F;
    font-size: 40px;
    line-height: 70px;
}


.about-me-btn a{
    display: inline-block;
    border: 2px solid #0C0083;
    padding: 9px 28px;
    border-radius: 25px;
    font-weight: 450;
    color: white;
    background-color: #0C0083;
    
}


.about-me-btn a:hover{
    color: #0C0083;
    background-color: white;
    transition: .5s;
}

/*About me*/
.about-me{
    width: 100%;
    padding: 100px 0px;
    background-color: #181818;
}

.about-me-text{
    width: 660px;
}

.about-me-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me-text h1{
    font-size: 55px;
    color: white;
}

.about-me-text h2{
    font-size: 30px;
    color: antiquewhite;
}
.about-me-text p{
    font-size: 16px;
    color: red;
    letter-spacing: 1px;
    line-height: 30px;
}

.github-section{
    width: 100%;
    padding: 100px 0px;
    background-color: grey;
}


.github-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


